<h2> Movies </h2>
<ul>
  <% for movie in @movies do %>
    <li> 
      <h3><%= movie.title %></strong> <em>(<%= movie.rating %>): 
        <span><%= number_to_currency(movie.total_gross, precision: 0, unit: "INR ")%> </span>
      </h3>
      <p> <%= movie.description%> </p>
      <p> <%= movie.released_on%> </p>
    </li>
  <% end %>
</ul> 