<h2> Movies </h2>
<ul>
  <% for movie in @movies do %>
    <li> 
      <h3><%= movie.title %></strong> <em>(<%= movie.rating %>): 
        <span><%= total_gross(movie)%> </span>
      </h3>
      <p> <%= movie.description.truncate(40, separator: ' ')%> </p>
      <p> <em>Released On: </em><%= release_date(movie)%> </p>
    </li>
  <% end %>
</ul> 