<section class="user">
  <%= profile_image @user %>
  <h1> <%= @user.name %> </h1>
  <h2> <%= mail_to(@user.email) %> </h2>
  <h2> Member since: <%= @user.created_at.strftime("%b %Y") %></h2>
 
  <div class="actions">
    <% if is_logged_in_user?(@user) %>
      <%= link_to 'Edit Account', edit_user_path(@user), class: 'button edit' %>
    <% end %>
    <% if logged_in_or_admin_user?(@user) %>
      <%= link_to 'Delete Account', @user, 
            class: 'button delete', data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
      %>
    <% end %>
  </div>

  <% if @user.reviews.present? %>
    <div class="reviews">
      <h3> Reviews </h3>
      <% @user.reviews.each do |review| %>
        <div class="review">
          <div class="image">
            <%= image_tag(review.movie.image_file_name) %>
          </div>
          <div class="details">
            <span class="title">
              <%= link_to review.movie.title, review.movie %>
            </span>
            <%= render "shared/stars", percent: review.stars_as_percent %>
            <span class="date">
              <%= time_ago_in_words(review.created_at) %> ago
            </span>
            <p>
              <%= review.comment %>
            </p>
            <% if is_logged_in_user?(review.user) %>
              <p class="actions">
                <%= link_to 'Edit', edit_movie_review_path(review.movie, review), class: 'button edit' %> 
                <%= link_to 'Delete', [review.movie, review], data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'button delete' %>
              </p> 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @favorite_movies.present? %>
    <h3> Favorite Movies </h3>
    <div class="favorite-movies">
      <% @favorite_movies.each do |movie| %>
        <%= link_to image_tag(movie.image_file_name), movie %>
      <% end %>
    </div>
  <%end%>
</section>
