<h1> Reviews for <%= link_to @movie.title, @movie %></h1>
<div>
  <ul class="reviews">
    <% @reviews.each do |review| %>
      <li>
        <p>
          <%= profile_image(review.user) %>
          <%= link_to review.user.name, review.user %> 
          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
        </p>
        <%= render 'shared/stars', percent: review.stars_as_percent%>
        <p>
          <%= review.comment %> 
        </p>
        <p class="review">
          <%= link_to 'Edit', edit_movie_review_path(@movie, review) %> &bull; 
          <%= link_to 'Delete', [@movie, review], data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        </p> 
      </li>
    <% end %>
  </ul>
</div>