<header>
  <nav>
    <%= link_to image_tag('logo'), root_path %>
    <ul class="left">
      <li>
        <%= nav_link_to "Released", movies_path %>
      </li>
      <li>
        <%= nav_link_to "Upcoming", filtered_movies_path(:upcoming) %>
      </li>
      <li>
        
        <%= nav_link_to "Hits", filtered_movies_path(:hits) %>
      </li>
      <li>
        <%= nav_link_to "Flops", filtered_movies_path(:flops) %>
      </li>
      <% if current_user_admin? %>
        <li>
          <%= nav_link_to "New Movie", new_movie_path %>
        </li>
        <li>
          <%= nav_link_to "All Users", users_path %>
        </li>
        <li>
          <%= nav_link_to "Manage Genres", genres_path %>
        </li>
      <% end %>
    </ul>
    <ul class="right">
      <% if is_logged_in? %>
        <li>
          <!-- <%= profile_image current_user %> -->
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
          <%= link_to "⚙", edit_user_path(current_user)%>
        </li>
        <li>
          <%= link_to "🚪", logout_path, data: {turbo_method: :delete} %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", login_path, class: "button" %>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>